{% extends "base.html" %}

{% block title%}Edit Post{% endblock %}

{% block content%}

<div class="container py-5 h-100">
    <div class="row d-felx justify-content-center align-items-center h-100">
        <div class="col-8 col-md-8 col-lg-6 col-xl-5" style="width: 45%">
            <div class="card shadow p-3" style="border-radius: 0.5rem; border: 0;">
                <div class="card-body text-center">
                    <form action="{% url 'app:posts' post.id %}" method='POST' class="box">
                        {% csrf_token %}
                        <h3 class="mb-3">Edit your post</h3>
                        <div class="form-outline mb-2 text-start">
                            <label for="id_title" class="form-label h6">Title</label>
                            <input value="{{post.title}}" id="id_title" class="form-control" type="text" name="title" maxlength="300" required=""></input>
                        </div>
                        <div class="form-outline mb-2 text-start">
                            <label for="id_text_content" class="form-label h6">Body</label>
                            <textarea id="id_text_content" class="form-control" cols="40" rows="10" name="text_content">{{post.text_content}}</textarea>
                        </div>
                        <div class="form-outline mb-2">
                            <label for="id_image_content" class="form-label h6">Image Attachment</label>
                            <input id="id_image_content" class="form-control-file" type="file" name="image_content"></input>
                        </div>
                        <div class="form-outline mb-2 text-start">
                            <label for="id_image_link" class="form-label h6">Image Link</label>
                            <input id="id_image_link" class="form-control" type="text" name="image_link" maxlength="300" value="{{post.image_link}}"></input>
                        </div>
                        <div class="form-outline mb-2 text-start">
                            <label for="id_categories" class="form-label h6">Tags (Comma Seperated)</label>
                            <textarea id="id_categories" class="form-control" cols="40" rows="10" name="categories">{{post.categories}}</textarea>
                        </div>
                        <div class="form-outline mb-2">
                            <label for="id_visibility" class="form-label h6">Post Visibility</label>
                            <select id="id_visibility" class="form-select" name="visibility">
                                <option value="public">Public</option>
                            </select>
                        </div>
                        <div class="form-outline mb-2">
                            <button class="btn btn-primary shadow mt-5 w-100" type="submit">Submit Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}