{% extends "base.html" %}
{% block title%}Post List{% endblock %}
{% block content %}
{% include "app/includes/navbar.html" %}
{% if post_list %}
<ul>
  {% for post in post_list %}
  <li style="list-style: none">
    <div class="container py-2 h-100 mt-3">
      <div class="row d-felx justify-content-center align-items-center h-100">
        <div class="col-8 col-md-8 col-lg-6 col-xl-5" style="width: 50%">
          <div class="card shadow p-3" style="border-radius: 0.5rem; border: 0">
            <div class="card-body">
              <h4 class="card-title">{{ post.title }}</h4>
              <span class="text-muted">
                {{ post.author.displayName }} <br />
                <span style="font-style: italic">{{ post.published }}</span>
              </span>
              <p class="card-text mt-4">{{ post.content }}</p>
              <div class="category">
                {% for c in post.categories %}
                <span class="badge bg-dark">{{ c }}</span>
                {% endfor %}
              </div>
              <a href="{{ post.origin }}" class="btn btn-primary shadow mt-5">View Post</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>

{% else %}
<p>There are no posts on this server.</p>
{% endif %} {% endblock %}