{% extends "base.html" %}
{% block title %}View Post{% endblock %}
{% block content %}
{% include "app/includes/navbar.html" %}
{% load filters %}
{% autoescape off %}

<div>
  <div class="container py-2 h-100 mt-3">
    <div class="row d-felx justify-content-center align-items-center h-100">
      <div class="col-8 col-md-8 col-lg-6 col-xl-5" style="width: 100%">
        <div class="card shadow p-3" style="border-radius: 0.5rem; border: 0">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h4>
                {% if post.contentType == 'text/markdown'%}
                {{ post.title | commonmark}}
                {% else %}
                {{ post.title }}
                {% endif %}
              </h4>
              {% if is_author %}
              <div>
                <a href="{% url 'app:delete-post' post.id %}">
                  <button class="btn btn-sm btn-outline-danger float-end me-3">Delete</button>
                </a>
                <a href="{% url 'app:edit-post' post.id %}">
                  <button class="btn btn-sm btn-outline-secondary float-end me-3">Edit</button>
                </a>
              </div>
              {% endif %}
            </div>
            <span class="text-muted">
              {{ post.author.displayName }} <br />
              <span style="font-style: italic">{{ post.published }}</span>
            </span>
            <p class="card-text mt-4">
              {% if post.contentType == 'text/markdown'%}
              {{ post.content | commonmark}}
              {% else %}
              {{ post.content }}
              {% endif %}
            </p>
            {% if post.image_content %}
            <img alt="User uploaded image" src="{{ post.image_content }}"></img>
            {% endif %}
            <div class="category">
              {% for c in post.categories %}
              <span class="badge bg-dark">{{ c }}</span>
              {% endfor %}
            </div>
            <hr>
            <div>
              <a href=""><button
                  class="btn btn-sm btn-outline-primary float-start mt-4 me-3">View
                  Comments</button></a>
              <a href="{% url 'app:create-foreign-comment' post.id %}"><button
                  class="btn btn-sm btn-outline-primary float-start mt-4 me-3">Add
                  Comment</button></a>
              <form action="#" method="get">
                <button class="btn btn-sm btn-outline-primary float-start mt-4 me-3" type="submit" id="like-button"
                  name='like-button' value="pressed">Like</button>
              </form>
              <a href=""><button
                  class="btn btn-sm btn-outline-primary float-start mt-4 me-3">Share</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endautoescape %}
{% endblock %}