{% extends "base.html" %}

{% block title%}View Post{% endblock %}

{% block content%}
    <div>

        <h1>{{ post.title }}</h1>

        {% if post.text_content %}
            <p> {{ post.text_content|urlize }} </p>
        {% endif %}

        {% if post.image_content %}
            <img alt="User uploaded image" src={{ post.image_content.url }}></img>
        {% endif %}

        <p> Tags: {{ post.categories }} </p>

    </div>

    <div>
        <form action="#" method="get">
        <button type="submit" id="like-button" name='like-button' value="pressed">Like Post</button>
        </form>
            <p>Click here to <a href="{% url 'app:create-comment' post.id %}">comment on the post</a>.</p>
        {% if is_author %}
            <p>Click here to <a href="{% url 'app:edit-post' post.id %}">edit your post</a>.</p>
            <p>Click here to <a href="{% url 'app:delete-post' post.id %}">delete your post</a>.</p>
        {% endif %}

    </div>
{% endblock %}
