{% extends "base.html" %}
{% block title %}SocialDistribution{% endblock %}
{% block content %}
{% include "app/includes/navbar.html" %}
{% load filters %}
<section >
	<ul>
        {% for post in stream_posts %}
			{% if post.shared_post %}
				{{ post.author }} shared a post on {{ post.published }}
				<li style="list-style: none">
					<div class="container py-2 h-100 mt-3">
						<div class="row d-felx justify-content-center align-items-center h-100">
							<div class="col-8 col-md-8 col-lg-6 col-xl-5" style="width: 50%">
								<div class="card shadow p-3" style="border-radius: 0.5rem; border: 0">
									<div class="card-body">
										{% include "app/includes/post_title.html" %}
										<span class="text-muted">
											{{ post.author.displayName }} <br />
											<span style="font-style: italic">{{ post.published }}</span>
										</span>
										{% include "app/includes/post_content.html" %}
										<div class="category">
											{% for c in post.categories %}
											<span class="badge bg-dark">{{ c }}</span>
											{% endfor %}
										</div>
										<a href="{{ post.origin }}" class="btn btn-primary shadow mt-5">View Post</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			{% else %}
			<li style="list-style: none">
				<div class="container py-2 h-100 mt-3">
					<div class="row d-felx justify-content-center align-items-center h-100">
						<div class="col-8 col-md-8 col-lg-6 col-xl-5" style="width: 100%">
							<div class="card shadow p-3" style="border-radius: 0.5rem; border: 0">
								<div class="card-body">
									{% include "app/includes/post_title.html" %}
									<span class="text-muted">
										{{ post.author.displayName }} <br />
										<span style="font-style: italic">{{ post.published}}</span>
									</span>
									{% include "app/includes/post_content.html" %}
									<div class="category">
										{% for c in post.categories %}
										<span class="badge bg-dark">{{ c }}</span>
										{% endfor %}
									</div>
									<a href="{{ post.origin }}" class="btn btn-primary shadow mt-5">View Post</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			{% endif %}
            <br><br/>
        {% endfor %}
    </ul>
</section>
{% endblock %}