{% extends "base.html" %}

{% block title %}SocialDistribution{% endblock %}

{% block content %}
{% include "app/includes/navbar.html" %}
<section >
    <h1>Posts</h1>
    <ul>
        {% for post in stream_posts %}
			{% if post.shared_post %}
				{{ post.author }} shared a post on {{ post.published }}

				<p> {{ post.text_content }} </p>
			
				<a href="{% url 'app:posts' post.shared_post.id %}" style = "color: inherit; text-decoration: inherit;">
					<div >
						Originally posted by {{ post.shared_post.author }}:
						<div style = "border-width:1px; border-style:solid; border-color:grey; margin-left:2%; margin-right: 5%;">
							<div><a href="{% url 'app:posts' post.shared_post.id %}">{{ post.shared_post.title }}</a>
								<br>
									<small>
									posted by {{ post.shared_post.author }} on {{ post.shared_post.published }}
									</small> 
								{% if post.shared_post.text_content %}
									<p> {{ post.shared_post.text_content | urlize }} </p>
								{% endif %}
							
								{% if post.shared_post.image_content %}
									<img alt="User uploaded image" src={{ post.shared_post.image_content.url }}></img>
								{% endif %}

								{% if post.shared_post.image_link %}
									<a href={{ post.shared_post.image_link }}><img src={{ post.shared_post.image_link }} alt="User image link" ></a>
								{% endif %}
								<br/>
							</div>
						</div>
					</div>
			{% else %}
				<div><a href="{% url 'app:posts' post.id %}">{{ post.title }}</a>
					<br>
						<small>
						posted by {{ post.author }} on {{ post.published }}
						</small> 
					
						<br>
							{% if post.text_content %}
								<p> {{ post.text_content | urlize }} </p>
							{% endif %}
						
							{% if post.image_content %}
								<img alt="User uploaded image" src={{ post.image_content.url }}></img>
							{% endif %}

							
							{% if post.image_link %}
								<a href={{ post.image_link }}><img src={{ post.image_link }} alt="User image link" ></a>
							{% endif %}
						<br/>
					<br/>
				</div>
			{% endif %}
            <br><br/>
        {% endfor %}
    </ul>
</section>
{% endblock %}
