{% extends "base.html" %}

{% block title%}Comment on the Post{% endblock %}

{% block content%}
{% include "app/includes/navbar.html" %}
{% load filters %}
    {% if comments %}
    <ul class="pt-5">
        {% for comment in comments%}
        <li style="list-style: none">
            <div class="container py-2 h-100 mt-3">
                <div class="row d-felx justify-content-center align-items-center h-100">
                    <div class="col-8 col-md-8 col-lg-6 col-xl-5" style="width: 50%">
                        <div class="card shadow p-3" style="border-radius: 0.5rem; border: 0">
                            <div class="card-body">
                                <span class="text-muted">
                                    {{ comment.author }} - <span style="font-style: italic">{{ comment.published }}</span>
                                </span>
                                <p class="card-text mt-4">
                                {{ comment.comment }}
                                </p>
                                <form action="#" method="get">
                                    <button class="btn btn-sm btn-outline-primary" type="submit" id='like-button' name='like-button' value='{{ comment.id }}'>
                                        Like
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <br>
        {% endfor %}
    </ul>
    {% else %}
    <div class="container py-2 h-100">
        <div class="row d-felx justify-content-center align-items-center h-100">
          <div class="col-8 col-md-8 col-lg-6 col-xl-5" style="width: 75%">
            <div class="p-5 mb-1 rounded-3">
              <h6 class="display-6 mb-4 fw-bold">
                There are no comments on this post.
              </h6>
              <p>
                Be the first to add one!
              </p>
              <div class='mt-5'>
                <a href="{% url 'app:create-comment' post_id %}" style="text-decoration: none;">
                  <button class="btn btn-primary shadow" type="button">
                    Add Comment
                  </button>
                </a>
                <a href="{{request|get_post_id}}"><button type="button" class="btn btn-outline-secondary shadow">
                    Back
                  </button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

{% endblock %}