<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <title>{% block title %}SocialDistribution{% endblock %}</title>
  </head>

  <body>
    <div id="content">
      <!-- https://www.youtube.com/watch?v=q4jPR-M0TAQ&list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p&index=6 -->
      <!-- Will give a notification when register successfully -->
      {% if messages%}
            {%for message in messages%}
            <div class="alert alert-{{message.tags}}"> 
                {{message}}
            </div>
            {%endfor%}
            {%endif%}
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
