
   {% load filters %}
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{%url 'app:index'%}"
          >SocialDistribution</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" id="app" href="{%url 'app:index'%}">My Stream</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="inbox"
                href="{%url 'app:inbox' user.id%}?page=1&size=5"
                >Inbox</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" id="posts" href="{% url 'app:post-list' %}"
                >Public Posts</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" id="create-post" href="{% url 'app:create-post' %}"
                >Create a Post</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" id="authors" href="{% url 'app:explore-authors' %}"
                >Explore Authors</a
              >
            </li>
            </ul>
            <ul class='navbar-nav'>
              <li class="nav-item">
                <a class="nav-link" id="profile" href="{% url 'app:view-profile' %}">Profile</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'app:logout' %}">Logout</a>
              </li>
              {% endif %}
            </ul>
            </ul>
        </div>
      </div>
    </nav>

    <script type="text/javascript">
      // {% if nmenu %} $("a#{{nmenu}}").addClass("navmenu-a-active") {% endif %}
      document.getElementById('{{request.path | getNav}}').classList.add('active')
    </script>